.calculator {
    background-color: #fff;

    #display {
        color: #0a1e23;
    }

    button#clear{
        background-color: #ffd5d8;
        color: #fc4552;
    }
    button.btn-number{
        background-color: #c3eaff;
        color: #000;
    }
    button.btn-operator{
        background-color: #ffd0fd;
        color: #f967f3;
    }
    button.btn-equal{
        background-color: #adf9e7;
        color: #000;
    }
}